BasedOnStyle: WebKit
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: true
PointerAlignment: Right
SpaceAfterCStyleCast: true
AlignConsecutiveMacros: true
AlignTrailingComments: true
ColumnLimit: 79
